.gradle
/local.properties
/.idea
/build
#built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Android Studio
*.iml
*.zip
/app/src/main/java/com/reddit/material/APIKey.java
/app/fabric.properties
/app/docs
