<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.reddit.material"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.reddit.material.MainActivity"/>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.reddit.material.MainActivity"/>
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comments"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".YouTubeActivity"
            android:label="@string/title_activity_you_tube"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ImageGalleryActivity"
            android:label="@string/title_activity_image_gallery"
            android:theme="@style/AppTheme.NoActionBar"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="645caf81cfeaa941df26f2ee3a0def5b2f334736" />
    </application>

</manifest>
